@import "tailwindcss";

@theme {
  --font-mono: "Geist Mono", monospace;
}

:root {
  --background: #cfbf7c;
  --foreground: #000000;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-mono); /* Ensures Geist Mono is everywhere */
  -webkit-font-smoothing: antialiased;
}

html {
  scroll-behavior: smooth;
}